.imageone {
  background-color: #C8C8C8;
  position: absolute;
  top: 16.75vh;
  left: 50vw;
  width: 39.69vw;
  height: 31.25vw;
}

.imagetwo {
  background-color: #C8C8C8;
  position: absolute;
  top: 83.33vh;
  left: 10.42vw;
  width: 39.58vw;
  height: 46.88vw;
}

.letsfindbutton {
  background-color: #A8E6CF;
  position: absolute;
  top: 70.25vh;
  left: 10.42vw;
  width: 17.14vw;
  height: 3.07vw;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.82vw;
  text-align: center;
  padding-top: 0.65vw;
  box-sizing: border-box;
}

.findagymbutton {
  background-color: #A8E6CF;
  position: absolute;
  top: 153.42vh;
  left: 64.64vw;
  width: 11.72vw;
  height: 3.07vw;
  color: white;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.82vw;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0.65vw;
}

.tellus {
  position: absolute;
  top: 83.33vh;
  left: 60.78vw;
  width: 21.25vw;
  height: 10.73vw;
}

.pickyour {
  position: absolute;
  top: 108.08vh;
  left: 68.44vw;
  width: 21.25vw;
  height: 10.73vw;
}

.scheduleyour {
  position: absolute;
  top: 132.08vh;
  left: 60.78vw;
  width: 25.76vw;
  height: 10.73vw;
}

.team {
  position: absolute;
  top: 175.25vh;
  left: 15.67vw;
}

.contact {
  position: absolute;
  top: 374.92vh;
  left: 12.29vw;
}

.backtotop {
  position: absolute;
  top: 441.25vh;
  left: 47.03vw;
  width: 5.99vw;
  height: 2.86vw;
  margin-bottom: 5.78vh;
  cursor: pointer;
}

.textone {
  position: absolute;
  top: 40.75vh;
  left: 10.42vw;
  font-size: 2vw;
  line-height: 2.5vw;
  font-weight: 800;
}

.texttwo {
  position: absolute;
  top: 59vh;
  left: 10.42vw;
  font-size: 1.3vw;
  line-height: 1.82vw;
}

.textthree {
  position: absolute;
  top: 1.46%;
  left: 18.63%;
  font-weight: 700;
  font-size: 1.56vw;
  line-height: 2.19vw;
}

.textfour {
  position: absolute;
  top: 37.86%;
  left: 18.63%;
  font-size: 0.94vw;
  line-height: 1.3vw;
}

.textscroll {
  position: absolute;
  top: 49.09%;
  left: 0;
  color: #000;
  font-size: 1.04vw;
  line-heigth: 1.48vw;
}

.boxnumber {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.03%;
  height: 21.84%;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.56vw;
  line-height: 2.19vw;
  box-sizing: border-box;
  padding-top: 0.7%;
}

.boxone {
  background-color: #FF8BA6;
}

.boxtwo {
  background-color: #FFE8D6;
}

.boxthree {
  background-color: #A8E6CF;
  width: 9.75%;
}

i {
  border: solid white;
  border-width: 0 0.16vw 0.16vw 0;
  display: inline-block;
  padding: 0.25vw;
}

i2 {
  border: solid #000;
  border-width: 0 0.16vw 0.16vw 0;
  display: inline-block;
  padding: 0.25vw;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 0.8vw;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 42.17%;
}
