.imageone {
  background-color: #C8C8C8;
  position: absolute;
  top: 16.75vh;
  left: 50vw;
  width: 39.69vw;
  height: 31.25vw;
}

.imagetwo {
  background-color: #C8C8C8;
  position: absolute;
  top: 83.33vh;
  left: 10.42vw;
  width: 39.58vw;
  height: 46.88vw;
}

.letsfindbutton {
  background-color: #A8E6CF;
  position: absolute;
  top: 55.25vh;
  left: 10.42vw;
  width: 17.14vw;
  height: 3.07vw;
}

.findagymbutton {
  background-color: #A8E6CF;
  position: absolute;
  top: 153.42vh;
  left: 64.64vw;
  width: 11.72vw;
  height: 3.07vw;
}

.tellus {
  background-color: #FF8BA6;
  position: absolute;
  top: 83.33vh;
  left: 60.78vw;
  width: 21.25vw;
  height: 10.73vw;
}

.pickyour {
  background-color: #FFE8D6;
  position: absolute;
  top: 108.08vh;
  left: 68.44vw;
  width: 21.25vw;
  height: 10.73vw;
}

.scheduleyour {
  background-color: #A8E6CF;
  position: absolute;
  top: 132.08vh;
  left: 60.78vw;
  width: 22.76vw;
  height: 10.73vw;
}

.team {
  position: absolute;
  top: 175.25vh;
  left: 15.67vw;
}

.contact {
  position: absolute;
  top: 374.92vh;
  left: 12.29vw;
}

.backtotop {
  position: absolute;
  top: 441.25vh;
  left: 47.03vw;
  width: 5.99vw;
  height: 2.86vw;
  background-color: #C8C8C8;
  margin-bottom: 5.78vh;
}
