.center {
  width: 70vw;
  height: 46vw;
  min-width: 500px;
  min-height: 328.57px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  border-radius: 10px;
  color: #ffffff;
  opacity: 0.85;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform opacity;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.card:hover, .card:focus, .card:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  opacity: 1.0;
}

.find {
  float: left;
  width: 31%;
  height: 100%;
  background-color: #FFB490;
}

.findtext {
  position: absolute;
  left: 9.71%;
  bottom: 3.26%;
  font-size: 3.92vw;
}

.dashboard {
  margin-left: 34.36%;
  margin-right: 3.36%;
  width: 31%;
  height: 58.62%;
  background-color: #56E690;
  position: absolute;
  bottom: 0;
}

.dashtext {
  position: absolute;
  left: 6.12%;
  bottom: 5.17%;
  line-height: 2.34vw;
  font-size: 2.34vw;
}

.process {
  width: 31%;
  height: 17.24%;
  background-color: #7BDFF2;
  position: absolute;
  bottom: 41.38%;
  right: 0;
}

.bluetext {
  position: absolute;
  left: 5.05%;
  bottom: 17.26%;
  line-height: 1.56vw;
  font-size: 1.56vw;
}

.about {
  width: 31%;
  height: 17.24%;
  background-color: #7BDFF2;
  position: absolute;
  bottom: 20.69%;
  right: 0;
}

.contact {
  width: 31%;
  height: 17.24%;
  background-color: #7BDFF2;
  position: absolute;
  bottom: 0;
  right: 0;
}

.welcome {
  width: 65.5%;
  height: 16.95%;
  position: absolute;
  bottom: 61.11%;
  right: 0;
  font-size: 8.62vw;
  line-height: 6.34vw;
  color: #444545;
}
