.contact {
  background-color: #FF8BA6;
  width: 75.45vw;
  height: 33.57vw;
}

.form {
  width: 33.75vw;
  height: 31.25vw;
  background-color: #d3d3d3
}

.input {
  width: 100%;
}

textarea {
  height: 50%;
  width: 100%;
}
