.navbar {
  position: fixed;
  top: 4.56vh;
  left: 5.21vw;
  width: 89.58vw;
  height: 2.92vw;
  z-index: 1;
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 1.46vw;
}

.gympoint {
  position: absolute;
  left: 0;
  top: 17.84%;
  color: #39393A;
  font-weight: 800;
  font-size: 2.08vw;
  line-height: 2.92vw;
}

.home {
  position: absolute;
  left: 65.12%;
  top: 17.84%;
  color: #39393A;
}

.find {
  position: absolute;
  left: 71.4%;
  top: 12%;
  color: #FFFFFF;
  background-color: #A8E6CF;
  width: 7.66vw;
  height: 1.93vw;
  text-align: center;
  padding-top: 0.2vw;
  box-sizing: border-box;
}

.contact {
  position: absolute;
  left: 93.49%;
  top: 17.84%;
  color: #39393A;
}

.about {
  position: absolute;
  left: 83.37%;
  top: 17.84%;
  color: #39393A;
}

a {
  text-decoration: none;
  color: #ffffff;
}
