.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3.91vw;
  background-color: #d3d3d3;
  z-index: 1;
}

.home {
  position: absolute;
  left: 4.1%;
  top: 17.84%;
  color: rgba(24,189,142,0.65);
  font-weight: 700;
  font-size: 2.43vw;
  line-height: 2.78vw;
}

.find {
  position: absolute;
  left: 54.72%;
  top: 17.84%;
  font-size: 1.74vw;
  line-height: 2.43vw;
  color: #FFA149;
}

.contact {
  position: absolute;
  left: 70.76%;
  top: 17.84%;
  font-size: 1.74vw;
  line-height: 2.43vw;
  color: rgba(93,106,98,0.65);
}

.about {
  position: absolute;
  left: 86.6%;
  top: 17.84%;
  font-size: 1.74vw;
  line-height: 2.43vw;
  color: #00A878;
}

a {
  text-decoration: none;
  color: #ffffff;
}
