body {
  margin: 0;
  font-family: "Poppins",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #39393A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen {
  height: 100%;
}

.pac-container:after{
    content:none !important;
}

.pac-item {
  font-family: monospace;
}

#searchbar {
  height: 80px;
  font-size: 16px;
  width: 50%;
}

html, body, #root {
  height: 100%;
}

.navbar {
  position: absolute;
  top: 6.38vh;
  left: 13.98vw;
}

button, input, textarea {
  font-family: "Poppins";
  color: #39393A;
}

i {
  border: solid white;
  border-width: 0 0.175vw 0.175vw 0;
  display: inline-block;
  padding: 0.25vw;
}

i2 {
  border: solid #000;
  border-width: 0 0.16vw 0.16vw 0;
  display: inline-block;
  padding: 0.25vw;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 42%;
  right: 9.09%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 42.17%;
}
