body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen {
  height: 100%;
}

#map {
  height: 100%;
  background-color: grey;
}

.pac-container:after{
    content:none !important;
}

.pac-item {
  font-family: monospace;
}

#searchbar {
  height: 80px;
  font-size: 16px;
  width: 50%;
}

html, body, #root {
  height: 100%;
}

.navbar {
  position: absolute;
  top: 6.38vh;
  left: 13.98vw;
}
