.intro {
  position: absolute;
  top: 14.83vh;
  left: 5.21vw;
}

.slidercontainer {
  position: absolute;
  top: 52.67vh;
  left: 8.65vw;
  width: 35.83vw;
  height: 6.09vw;
}

.mccontainer {
  position: absolute;
  top: 95.83vh;
  left: 13.7vw;
  width: 35.83vw;
  height: 6.09vw;
}

.results {
  position: absolute;
  top: 190.92vh;
  left: 6.93vw;
  width: 17.14vw;
  height: 3.07vw;
  background-color: #FF8BA6;
  color: white;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #DCEDC1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.76vw;
  height: 2.76vw;
  border-radius: 50%;
  background: #A8E6CF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2.76vw;
  height: 2.76vw;
  border-radius: 50%;
  background: #A8E6CF;
  cursor: pointer;
}

.option {
  height: 2.19vw;
  width: 10vw;
  cursor: pointer;
}

.optionactive {
  background-color: #FF8BA6;
}
