.intro {
  position: absolute;
  top: 14.83vh;
  left: 5.21vw;
  font-weight: 700;
  font-size: 2.08vw;
  line-height: 2.92vw;
}

.slidercontainer {
  position: absolute;
  top: 52.67vh;
  left: 8.65vw;
  width: 35.83vw;
  height: 6.09vw;
}

.mccontainer {
  position: absolute;
  top: 95.83vh;
  left: 13.7vw;
}

.results {
  position: absolute;
  top: 190.92vh;
  left: 6.93vw;
  width: 17.14vw;
  height: 3.07vw;
  background-color: #FF8BA6;
  margin-bottom: 12.5vh;
}

.buttontext {
  position: absolute;
  top: 20.33%;
  left: 7.6%;
  color: white;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.82vw;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #DCEDC1;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.76vw;
  height: 2.76vw;
  border-radius: 50%;
  background: #A8E6CF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2.76vw;
  height: 2.76vw;
  border-radius: 50%;
  background: #A8E6CF;
  cursor: pointer;
}

.option {
  height: 2.19vw;
  width: 11.04vw;
  cursor: pointer;
}

.optionactive {
  background-color: #FF8BA6;
}

.optionletter {
  font-weight: 700;
  font-size: 1.56vw;
  line-height: 2.19vw;
}

.optiontext {
  position: absolute;
  top: 1%;
  left: 32%;
  font-size: 1.3vw;
  line-height: 1.82vw;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  color: #A8E6CF;
  font-weight: 700;
  font-size: 3.13vw;
  line-height: 4.38vw;
}

.questionone {
  position: absolute;
  top: 27.08vh;
  left: 8.65vw;
  width: 40.42vw;
  height: 8.59vw;
}

.questiontwo {
  position: absolute;
  top: 77.5vh;
  left: 8.65vw;
  width: 45.42vw;
  height: 8.59vw;
}

.questiontext {
  position: absolute;
  top: 50.91%;
  left: 0;
  font-size: 1.56vw;
  line-height: 2.19vw;
}

.price {
  font-size: 1.56vw;
  line-height: 2.19vw;
}
